body {
  font-family:'Avenir Next';
  font-weight:400;
  margin:0;
}

svg#trace {
  position:absolute;
  z-index:0;
  top:0;
  left:0;
}

svg line {
  stroke:#00a4e4;
  stroke-width:2;
}

svg circle {
  fill:#fff;
  fill-opacity:0;
  stroke:#000;
}

.ignore {
  pointer-events: none;
}

.grid line, .grid circle {
  stroke-width:1;
  stroke:#ddd;
}