body {
  font-family:'Avenir Next';
  font-weight:400;
  margin:0;
}

svg#trace {
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
}

svg line {
  stroke:#00a4e4;
  stroke-width:2;
}

svg#trace circle {
  fill:none;
  stroke:#000;
}

.ignore {
  pointer-events: none;
}

.grid line {
  stroke-width:1;
  stroke:#888;
}