RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z]*)\/?([a-zA-Z]*)\/?([a-zA-Z0-9\-\:\/\_\*]*)\.?(json|xml|html|svg|jpg)?$ index.php?controller=$1&action=$2&params=$3&content-type=$4 [B,QSA,L]
