<main class="container">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    form {
      margin:0;
    }
    section {
      float:left;
      height:100vh;
      box-sizing:border-box;
    }
    
    section:first-of-type {
      width:30%;
      padding:3em 1em 1em;
      background-color:#f8f8f8;
    }
    
    
    
    section:last-of-type {
      width:70%;
      text-align:center;
    }
    /* ]]> */
  </style>
  
  <section>
    <form method="post" action="graph/update">
      <label for="queued">Queued</label>
      <input type="text" name="src" value="" id="queued" />
      
      <input type="hidden" name="plot[t][]" value="" />
      <input type="hidden" name="plot[t][]" value="" />
      <input type="hidden" name="plot[t][]" value="" />
      <input type="hidden" name="plot[t][]" value="" />
      <input type="hidden" name="plot[t][]" value="" />
      <input type="hidden" name="plot[r][]" value="" />
      <input type="hidden" name="plot[r][]" value="" />
      <input type="hidden" name="plot[r][]" value="" />
      <input type="hidden" name="plot[r][]" value="" />
      <input type="hidden" name="plot[r][]" value="" />
      
      <br/>
      <label>
        <h5>Scrub</h5>
        <input type="range" value="1.0" min="0" max="100" step="1" oninput="player.seek(Number(this.value) / 100);" />
      </label>
    </form>
  
  
  
    <ul class="clickable">
      <!-- iterate tracks -->
      <li data-src="[$@src]">[Play $@title]</li>
    </ul>
  
  </section>
  <section>
    <h1>Pick a track.</h1>
  </section>
  <script type="text/javascript">
    bloc.embed('./js/player.js', './js/backdrop.js', './js/graph.js');
    
    var player = null;

    

    bloc.prepare('player', function () {

      var ul = document.body.querySelector('ul.clickable');
      var tracks = ul.querySelectorAll('li');
            
      player = new Player([].map.call(tracks, function (item, idx) {
                            item.dataset.idx = idx;
                            return item.dataset.src;
                          }));
      ul.addEventListener('click', function (evt) {
        if (evt.target.nodeName !== 'LI') return;
        
        var idx = Number(evt.target.dataset.idx);
        
        [].forEach.call(tracks, function (node) {
          node.removeAttribute('class');
        });
        
        evt.target.className = 'active';
        player.play(idx);
      }, false);

      
      window.backdrop = new Backdrop();
      
      var div = window.backdrop.appendChild(document.createElement('div'));
          div.style.margin = "5em auto";
          div.style.height = '70vh';
          div.style.width = '70vh';
          
          var domain = [
            {
              color:'#EAF7B4',
              title:'control'
            },
            {
              color:'#98F698',
              title:'relaxation'
            },
            {
              color:'#C1E8E1',
              title:'boredom'
            },
            {
              color:'#98B7E6',
              title:'apathy'
            },
            {
              color:'#D9CDEC',
              title:'worry'
            },
            {
              color:'#F69898',
              title:'anxiety'
            },
            {
              color:'#F8EBB5',
              title:'arousal'
            },
            {
              color:'#F6F697',
              title:'flow'
            }
          ];
          
           window.backdrop.show();
          
           var graph = new Graph(div, domain);
               graph.register(player);
           
           window.backdrop.hide();
         
      
      document.body.addEventListener('dblclick', player.toggle.bind(player), false);
      
      
      var r = new Request({
        load: function (evt) {
          console.log(evt.target.responseText);
        }
      });
      r.post('graph/update', {'item': ['one', 'two']});
      
    });
  </script>
</main>