<main>
  <nav style="position:relative;z-index:100">
    <label>
      <strong>Speed</strong>
      <input type="range"  value="1.0" min="1.0" max="3" step="0.5" oninput="player.audio.playbackRate = this.value;" />
    </label>
    <label>
      <strong>Scrub</strong>
      <input type="range" value="1.0" min="0" max="100" step="1" oninput="player.seek(Number(this.value) / 100);" />
    </label>
  </nav>
  
  <script type="text/javascript">
    bloc.embed('./js/player.js');
    var player = null;
    var tracks = [
      'assets/audio/Bucket_Boys.m4a',
      'assets/audio/CPS_Excellence.m4a',
      'assets/audio/Jordan.m4a',
      'assets/audio/Poop.m4a',
      'assets/audio/Riverview.m4a',
      'assets/audio/Stargazing.m4a',
      'assets/audio/White_Poverty.m4a',
      'assets/audio/Skyline.m4a',
      'assets/audio/Uptown.m4a',
      'assets/audio/Swampland.m4a',
    ];
    

    bloc.prepare('player', function () {
      player = new Player(tracks);

      var ul = document.body.appendChild(document.createElement('ul'));
      
      ul.classList.add('clickable');
      ul.addEventListener('click', function (evt) {
        if (evt.target.nodeName !== 'LI') return;
        var idx = Number(evt.target.dataset.idx);

        [].forEach.call(ul.childNodes, function (node) {
          node.removeAttribute('class');
        });
        
        evt.target.className = 'active';
        player.play(idx);
      }, false);
      
      tracks.forEach(function (track, idx) {
        var li = ul.appendChild(document.createElement('li'));
        li.dataset.idx = idx;
        li.textContent = 'play ' + track;
      });
      
      
      document.body.addEventListener('dblclick', player.toggle.bind(player), false);
    });
  </script>
</main>